input[type="number"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="number"]:focus {
  outline: none;
  border-color: green;
}

span {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

button {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}
